@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "TT Lakes";

  font-display: swap;
  src:
    url("../fonts/ttlakes-400.woff2") format("woff2"),
    url("../fonts/ttlakes-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "TT Lakes";

  font-display: swap;
  src:
    url("../fonts/ttlakes-500.woff2") format("woff2"),
    url("../fonts/ttlakes-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TT Lakes";

  font-display: swap;
  src:
    url("../fonts/ttlakes-700.woff2") format("woff2"),
    url("../fonts/ttlakes-700.woff") format("woff");
}
