//Headers
// ---------------------------------

h1,
.h1 {
  font-size: 28px;
  line-height: percentage(40 / 28);

  letter-spacing: -0.6px;
}

h2,
.h2 {
  font-size: 24px;
  line-height: percentage(32 / 24);

  letter-spacing: -0.6px;
}

h3,
.h3 {
  font-size: 16px;
  line-height: percentage(24 / 16);

  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: $color-site-text-secondary;
}

h4,
h5,
h6 {
  @extend .h3;
}

// Text
// ---------------------------------

%txt-sm {
  font-size: 14px;
  line-height: percentage(16 / 14);
}

%txt {
  font-size: 14px;
  line-height: percentage(20 / 14);
}

%txt-lg {
  font-size: 16px;
  line-height: percentage(24 / 16);
}

%txt-xl {
  font-size: 20px;
  line-height: percentage(28 / 20);
}

%txt-2xl {
  font-size: 24px;
  line-height: percentage(32 / 24);
}
